<header class="header">
    <div class="header__logo">Neutral News</div>
    <div class="news_search_box">
        <form action="" class="searchBar">
            <input type="search" name="search" id='searchInput' pattern=".*\S.*" required>
            <button class="searchBtn" type="submit">
              <span>Search</span>
            </button>
          </form>
    </div>
</header>